
body {
    display: grid;
    place-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;

}



.row {
    display: flex;
}

.tile {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid black;
    font-size: larger;
}

/* #tileid input:hover{
    background-color: black;
} */